.float-contact {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999;
}

.ZALO {
    background: #008FF3;
    border-radius: 20px;
    padding: 0 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    border-color: transparent;
}

.ALAT {
    background: rgba(0, 115, 8, 0.92);
    border-radius: 20px;
    padding: 0 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    border-color: transparent;
}

.FACEBOOK {
    background: #125c9e;
    border-radius: 20px;
    padding: 0 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    border-color: transparent;
}

.float-contact .YOUTUBE {
    background: #e82829!important;
    border-radius: 20px;
    padding: 0 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    border-color: transparent;
}

.float-contact .ALAT {
    background: rgba(0, 115, 8, 0.92) !important;
    border-radius: 20px;
    padding: 0 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    border-color: transparent;
}

.float-contact .HOTLINE {
    background: #e3680a!important;
    border-radius: 20px;
    padding: 0 18px;
    color: white;
    display: block;
    margin-bottom: 6px;
    border-color: transparent;
}

.ALAT a, .ZALO a, .FACEBOOK a, .HOTLINE a, .YOUTUBE a {
    font-size: 15px;
    color: white;
    font-weight: 400;
    text-transform: none;
    line-height: 0;
}

