.header-dgtd {
    background: #F5F5F5;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.body-dgtd {
    margin: 0px 16px 16px 16px;
    overflow: initial;
}

.body-dgtd .ant-card-head-title {
    background-color: transparent;
    color: #000;
    font-size: 16px;
}

.body-dgtd .card-question {
    background-color: #fff;
    padding: 24px 12px;
}

.body-dgtd .title-exam div {
    display: inline-block;
}

.body-dgtd .title-exam {
    width: 100%;
    margin: 0px;
    // min-height: 50px;
    font-size: 24px;
    user-select: none;
  }
  
.body-dgtd .title-exam .title-exam-content {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.body-dgtd .content-answer-question ul {
    margin: 0;
    padding: 0;
}
  
.body-dgtd .content-answer-question ul li {
    // margin: 0px 0 5px 0px;
    // padding: 5px;
    margin: 0;
    position: relative;
    list-style-type: none;
    position: relative;
}

.body-dgtd .content-answer-question ul li .answer-label {
    font-weight: bold;
    position: absolute;
    top: 8px;
}
  
.content-answer-question .btn-onClick p {
    display: inline-block;
}
  
.content-answer-question ul li button {
    color: #272727;
    border: none;
    background: transparent;
}

.doing-exam .content-answer-question ul li button:hover .answer-label {
    border: 1px solid orange;
    color: #fff;
    background: orange;
}
  
.doing-exam .content-answer-question ul li.active button .answer-label, .wrongrightAnswer .active {
    border: 1px solid #1890ff;
    color: #fff;
    background: #1890ff;
}

.content-answer-question ul li button .answer.correct .answer-label, .wrongrightAnswer .correct {
    background: #3da844 !important;
    color: #fff;
}
  
.content-answer-question ul li button .answer.incorrect .answer-label, .wrongrightAnswer .incorrect {
    background: red !important;
    color: #fff;
}
  
.content-answer-question ul li button .answer.incorrect .answer-label, .wrongrightAnswer .no-thing {
    border: 1px solid #ccc !important;
}
  
.content-answer-question ul li button .answer.incorrect .answer-label, .wrongrightAnswer .no-thing span {
    color: #000 !important;
}

.content-answer-question ul li button .answer-label {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
}
  
.content-answer-question ul li p {
    margin: 0;
}
  
.question-list .btn-onClick {
    cursor: pointer;
}

.a-tag {
    font-size: 16px;
    color: #757677;
    background: #f0efef;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 54% !important;
    text-align: center;
    border: 1px solid #fff;   
}

.selected {
    background: rgb(24, 144, 255);
    color: #fff;
}

.marked {
    border-color: #ff6a00;
}

.list-question-side {
    background: #fff;
    text-align: 'center';
    margin-bottom: 16px;
    border-radius: 8px;
}

.list-question-side .right-answer{
    color: #fff;
    background: #27e327;
    border-color: #27e327;
}

.list-question-side .wrong-answer{
    background: red;
    border-color: red;
    color: #fff;
}

.list-question-side .list-question-area {
    margin: 12px;
    padding: 16px;
    border: 1px solid #f0efef;
}

.btn-chinh {
    background: rgb(24, 144, 255);
    border-color: rgb(24, 144, 255);
    border-radius: 20px;
}

.solution {
    text-align: center;
    margin: 30px 0 20px;
    font-size: 20px;
    user-select: none;
}

.list-item .solution-fill-item {
    margin: 10px 5px;
}

.paragraph-components>.solution-fill-item:hover {
    background: #d2e9c3 !important;
    border: 1px solid #44a500 !important;
}

.solution-fill-item {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    text-align: center;
    background: #f1ead9;
    line-height: 27px;
    cursor: pointer;
    vertical-align: bottom;
    vertical-align: baseline;
    margin-right: 5px !important;
    margin: 0 5px;
}

.fill-box-question .empty-box {
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
    min-width: 66px;
    height: 25px;
    border: 1px solid #c1c1c1 !important;
    opacity: 1 !important;
    margin: 0 5px;
    padding: 0 10px;
    vertical-align: middle;
}

.btn-DS {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 4px;
}

.option-answer {
    width: 75%;
    margin-left: 6px;
    min-height: 50px;
    font-size: 20px;
}

.cursor-move {
    font-size: 20px;
    padding: 7px 14px;
}